[push]
	default = upstream
[user]
	name = Zack Warburg
	email = zwarburg@gmail.com
[credential]
	helper = /opt/boxen/bin/boxen-git-credential

[diff]
	tool = diffmerge
	
[alias]
	b = branch
	co = checkout
	st = status
	r = reset --hard
	c = commit
	b = branch
	l =log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold cyan)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=local
	ld =log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ad)%C(reset) %C(white)%s%C(reset) %C(bold cyan)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=local

[color]
	ui = true

[color "branch"]
	current = yellow black
	local = yellow
	remote = magenta

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
	whitespace = white reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan reverse
	branch = magenta
[core]
	editor = mate -w
	excludesfile = /opt/boxen/config/git/gitignore

[hub]
protocol = https
